<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true"
               scanPeriod="60 seconds">
    <statusListener
            class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <property resource="application.properties"/>
    <property name="LOG_VERSION" value="1.0"/>
    <property name="LOG_MAX_HISTORY" value="7"/>
    <property name="LOGS_FOLDER" value="${logback.logs_folder}" />
    <property name="BACKUP_FOLDER" value="${logback.logs_folder}/archives" />
    <property name="LOG_STDOUT_NAME" value="stdout" />
    <property name="LOG_STDERR_NAME" value="stderr" />

    <!-- +++++++++++++++ -->
    <!-- Appenders files -->
    <!-- +++++++++++++++ -->

    

    <!-- +++++++++++++++ -->
    <!-- Appenders Console -->
    <!-- +++++++++++++++ -->

    <appender name="CONSOLE-ACTIVITY"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "type": "ACTIVITY",
                        "message": "%message %ex"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>


    <appender name="CONSOLE-JVM"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "type": "JVM",
                        "message": "%message %ex"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>




    <!-- +++++++++++++++++++++++++++++ -->
    <!-- Internal loggers (Java )      -->
    <!-- +++++++++++++++++++++++++++++ -->
     <logger name="com.joboffer.consumer.ws.emailnotification" additivity="false">
    <level value="${LOG_LEVEL}" />
    <appender-ref ref="CONSOLE-ACTIVITY" />
</logger>

    <!-- ++++++++++ -->
    <!-- Frameworks -->
    <!-- ++++++++++ -->


<logger name="org.springframework" additivity="false" level="WARN">
    <appender-ref ref="CONSOLE-ACTIVITY" />
</logger>

    <!-- ++++ -->
    <!-- ROOT -->
    <!-- ++++ -->
    <root level="WARN">
    <appender-ref ref="CONSOLE-JVM" />
</root>
</configuration>
